@import url("https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    color: #fff;
}

#center {
    background-image: url(https://techbeacon.scdn7.secure.raxcdn.com/sites/default/files/styles/article_hero_image/public/267.jpg?itok=TdRNh4Gz);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #c22d00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

h1,
h2 {
    text-align: center;
}

input {
    width: 135px;
    color: #000;
}

.time input {
    width: 42px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 330px) {
    #row {
        flex-direction: column;
    }
}

#back {
    width: 50px;
    height: 50px;
    background-color: #c22d00;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back img {
    width: 30px;
    height: 25px;
    margin-right: 3px;
}

#back:hover {
    cursor: pointer;
    transform: scale(1.05);
}
